<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<table>
  <tbody>
    <% @questions.each do |question| %>
    <tr  class="post">
        <td><h3>Question</h3></td>
        <tr><td><strong>Title: </strong><%= question.title %></td></tr>
        <tr><td><strong>By </strong><%= question.user.name %></td></tr>
        <tr><td><%= question.description %></td></tr>
        <td><%= link_to 'Show', question %></td>
      </tr>
      <tr>
      <tr><td><h4>Comments</h4></td></tr>
      <% question.comments.each do |comment|%>
        <tr><td><%= comment.message %>&nbsp;&nbsp;By: <%= comment.user.name %></td></tr>
      <% end %> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
