<%= render partial: 'shared/flashMessages' %>

<div class="jumbotron"> 
  <strong>Title: </strong><%= @question.title %><br>
  <strong>By </strong><%= @question.user.name %><br>
  <h5>Comments</h5>
  <%= render partial: 'shared/comments' ,locals: {comments: @question.comments} %>
<h5>Add comment here</h5>
<%= form_with(scope: :comment,url:comments_path,class:"addNewCommentForm",method: :post,local:true) do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :question_id_for_comment, value: @question.id %>
  <%= f.submit "Add" %>
<% end %>    <br>

<%= link_to 'Edit the Question', edit_question_path(@question) ,class:"show" %> |
<%= link_to 'Delete the Question', @question, class:"show",method: :delete, data: { confirm: 'Are you sure?' } %>|
<%= link_to 'Back', questions_path ,class:"show" %>
</div>